*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Times New Roman" serif;
}

h1 {
    text-align: center;
    background-color: pink;
    padding: 15px;
}

.description {
    background-color: aqua;
    padding: 3px 20px;
}

.description,
li {
    font-size: 20px;
}

.description.title,
.small_title {
    font-size: 24px;
}

.description.title {
    color: blue;
    text-align: center;
}

.ingredients li {
    color: black;
    background-color: bisque;
    padding-left: 20px;
}

.steps {
    padding-left: 40px;
    color: blueviolet;
    margin-bottom: 30px;
}

.recipe_link {
    font-size: 28px;
    margin: 15px 20px;
    display: block;
}

.picture {
    margin: 5px auto;
    display: block;
}

.small_title {
    margin: 20px;
}